.boxHeader{
    margin: 0;
    margin-bottom: 10px;
}

.pool_display{
    width: 110px;
    margin-right: 10px
}

.sheetBody{
    background: whitesmoke;
    width: 960px;
    margin: 0 auto;
}

li{
    list-style: none;
}