.dashboard{
  padding-left: 50px;
  padding-bottom: 100px;
}
body{
  background: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .mainHeader{
    font-size: 23px;
    text-align: center;
    margin-bottom: 70px;
  }

  .dashboard{
    padding-left: 10px;
  }

}